* {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  background: linear-gradient(135deg, #6B73FF 0%, #000DFF 100%);
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
}

.container, .login-container {
  width: 100%;
  max-width: 500px; /* largura máxima para evitar ficar muito grande */
  max-height: 90%; /* Altura máxima para evitar ficar muito grande */
  font-size: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.container h2 {
  margin-bottom: 20px;
}

input, select {
  width: auto;
  font-size: 20px;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
}

/* Botâo Adicionar */
button {
  background: rgb(11, 228, 40);
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

/* Botâo excluir tudo */
#clearBtn {
  background: #fff;
  color: red;
}

#clearBtn:hover {
  background: red; /* vermelho vivo */
  color: #fff;
  transform: scale(1.05);
}

/* Botão Excluir Marcados */
#removeMarkedBtn {
  background: #fff;
  color: red;
}

#removeMarkedBtn:hover {
  background: red; /* vermelho vivo */
  color: #fff;
  transform: scale(1.05);
}

#logoutBtn {
  background: #fff;
  color: red;
}

#logoutBtn:hover {
  background: red; /* vermelho vivo */
  color: #fff;
  transform: scale(1.1);
}
.bi-trash {
  color: red;  
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: rgba(255,255,255,0.1);
  margin: 5px 0;
  width: auto;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: fadeIn 0.5s ease forwards;
}

li.found {
  text-decoration: line-through;
  color: #ccc;
}

.hidden {
  display: none;
}

#addBtn {
    width: auto; /* ou um valor fixo: ex. 120px */
    padding: 15px 20px; /* ajusta o tamanho interno */
    font-size: 16px; /* ou maior, se quiser */
}

#loginError {
  color: #ff8080;
  margin-top: 10px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.fade-out {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(-10px);}
  to {opacity: 1; transform: translateY(0);}
}

@media (max-width: 400px) {
  .container, .login-container {
    width: 100%;
    padding: 15px;
    max-width: 400px;
    font-size: 20px;
  }
}